@import "true";

// @import "../src/utilities/utilities.widths";


@include test-module("[mixin] widths") {

  @include test("it should output fractional width classes for a given set of denominations") {

    @include assert() {

      @include output {
        // @include inuit-widths(1 2 3);
      }

      @include expect {
        // .u-1\/1 { width: 100%; }
        // .u-1\/2 { width: 50%; }
        // .u-1\/3 { width: 33.3333%; }
        // .u-2\/3 { width: 66.6666%; }
      }
    }
  }
}
