/* ==========================================================================
   #BOX
   ========================================================================== */

/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the '.o-box' class to naturally-inline elements.
 * 2. Applies default padding. Recommended way to override padding would be 
 *    to use a spacing utility class, for example to change padding to xs:
 *    <div class="o-box u-p--xs">
 */

.o-box {
  @include clearfix();
  display: block; /* [1] */
  padding: $spacing; /* [2] */

  > :last-child {
    margin-bottom: 0;
  }

}
