/* ==========================================================================
   #MEDIA
   ========================================================================== */

/**
 * Place image and body content side-by-side:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 * Examples: http://v4-alpha.getbootstrap.com/layout/media-object/
 * 
 * <div class="o-media">
 *   <img class="o-media__img" />
 *   <div class="o-media__body">
 *     <p>Body Content</p>
 *   </div>
 * </div>
 */

.o-media {
  @include clearfix();
  display: block;
}


  .o-media__img {
    float: left;
    margin-right: $spacing;

    > img {
      display: block;
    }

  }


  .o-media__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }





/* Size variants
   ========================================================================== */

/**
 * Modify the amount of space between the image and body. Also include
 * the reverse modifier for all size variants.
 */

// Generates the following classes:
// .o-media--flush .o-media--xxs .o-media--xs etc.

@each $spacing-name, $spacing-size in $spacing-sizes {
  
  .o-media#{$spacing-name} {
    
    > .o-media__img {
      margin-right: $spacing-size;
    }

    &.o-media--reverse {

      > .o-media__img {
        margin-right: 0;
        margin-left: $spacing-size;
      }

    }
    
  }
   
}





/* Reversed media objects
   ========================================================================== */

.o-media--reverse {

  > .o-media__img {
    float: right;
    margin-right: 0;
    margin-left: $spacing;
  }

}
