/* ==========================================================================
   #MEDIA VALIGN
   ========================================================================== */

/**
 * The media-valign object is a design pattern similar to the media object, 
 * however it utilises 'display: table[-cell];' to give us control over the 
 * vertical alignments of the text and image.
 *
 * http://csswizardry.com/2013/05/the-flag-object/
 * 
 * <div class="o-media-valign">
 *   <div class="o-media-valign__img">
 *     <img />
 *   </div>
 *   <div class="o-media-valign__body">
 *     <p>Body Content</p>
 *   </div>
 * </div>
 *
 * 1. Apply table properties to control vertical alignments.
 * 2. Force the object to be the full width of its parent. Combined with [1],
 *    this makes the object behave in a quasi-'display: block;' manner.
 * 3. Reset inherited 'border-spacing' declarations.
 */

.o-media-valign {
  display: table; /* [1] */
  width: 100%; /* [2] */
  border-spacing: 0; /* [3] */
}


  /**
   * Items within a media-valign object. Can only contain one of each.
   *
   * 1. Default valign to middle, otherwise just use o-media instead.
   */

  .o-media-valign__img,
  .o-media-valign__body {
    display: table-cell;
    vertical-align: middle; /* [1] */
  }


  /**
   * Add space between image and the body.
   *
   * 1. Forces '.media-valign__img' cell to shrink-wrap the image:
   *    https://pixelsvsbytes.com/2012/02/this-css-layout-grid-is-no-holy-grail/
   */

  .o-media-valign__img {
    width: 1px; /* [1] */
    padding-right: $spacing;


    /**
     * 1. Fix for responsive images shrinking to 1px cell size.
     */

    > img {
      max-width: none; /* [1] */
    }

  }


  /**
   * The container for the body content of the media-valign object.
   *
   * 1. Forces '.media-valign__body' cell to fill remaining horizontal space.
   */

  .o-media-valign__body {
    width: auto; /* [1] */

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }





/* Size variants.
   ========================================================================== */
   
/**
 * Modify the amount of space between the image and body. Also include
 * the reverse modifier for all size variants.
 */

// Generates the following classes:
// .o-media-valign--flush .o-media-valign--xxs .o-media-valign--xs etc.
   
@each $spacing-name, $spacing-size in $spacing-sizes {
  
  .o-media-valign#{$spacing-name} {
    
    > .o-media-valign__img {
      padding-right: $spacing-size;
    }

    &.o-media-valign--reverse {

      > .o-media-valign__img {
        padding-right: 0;
        padding-left: $spacing-size;
      }

    }
    
  }
   
}





/* Reversed media-valign.
   ========================================================================== */

/**
 * 1. Swap the rendered direction of child items.
 * 2. Reset rendered direction of child item inner content.
 * 3. Reassign margins to the correct sides.
 */

.o-media-valign--reverse {
  direction: rtl; /* [1] */

  > .o-media-valign__img,
  > .o-media-valign__body {
    direction: ltr; /* [2] */
  }

  > .o-media-valign__img {
    padding-right: 0; /* [3] */
    padding-left: $spacing; /* [3] */
  }

}





/* Alignment variants.
   ========================================================================== */

/**
 * Vertically align the image and body-content. Defaults to middle.
 */

.o-media-valign--top {

  > .o-media-valign__img,
  > .o-media-valign__body {
    vertical-align: top;
  }

}

.o-media-valign--bottom {

  > .o-media-valign__img,
  > .o-media-valign__body {
    vertical-align: bottom;
  }

}
