/* ==========================================================================
   #FLAG
   ========================================================================== */

$inuit-media-spacing:       inuit-spacing(base) !default;
$inuit-media-tiny-spacing:  inuit-spacing(tiny) !default;
$inuit-media-small-spacing: inuit-spacing(small) !default;
$inuit-media-large-spacing: inuit-spacing(large) !default;
$inuit-media-huge-spacing:  inuit-spacing(huge) !default;

/**
 * The flag object is a design pattern similar to the media object witch place
 * any image- and text-like content side-by-side however it give us control over
 * the vertical alignments of the text and image.
 *
 * http://csswizardry.com/2013/05/the-flag-object/
 */

.o-flag {
  display: flex;
}

  .o-flag__img {
    margin-right: $inuit-global-spacing-unit;
  }

  .o-flag__body {
    flex: 1 1 0%;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }





/* Vertical alignment modifiers.
   ========================================================================== */

.o-flag--middle {
  align-items: center;
}

.o-flag--bottom {
  align-items: flex-end;
}





/* Reversed media objects
   ========================================================================== */

.o-flag--reverse {

  > .o-flag__img {
    order: 1;
    margin-right: 0;
    margin-left: $inuit-global-spacing-unit;
  }

}





/* Size variants
   ========================================================================== */

/**
 * Modify the amount of space between our image and our text. We also have
 * reversible options for all available sizes.
 */

.o-flag--flush {

  > .o-flag__img {
    margin-right: 0;
    margin-left: 0;
 }

}


.o-flag--tiny {

  > .o-flag__img {
    margin-right: $inuit-global-spacing-unit-tiny;
  }

  &.o-flag--reverse {

    > .o-flag__img {
      margin-right: 0;
      margin-left: $inuit-media-tiny-spacing;
    }

  }

}


.o-flag--small {

  > .o-flag__img {
    margin-right: $inuit-global-spacing-unit-small;
  }

  &.o-flag--reverse {

    > .o-flag__img {
      margin-right: 0;
      margin-left: $inuit-media-small-spacing;
    }

  }

}


.o-flag--large {

  > .o-flag__img {
    margin-right: $inuit-global-spacing-unit-large;
  }

  &.o-flag--reverse {

    > .o-flag__img {
      margin-right: 0;
      margin-left: $inuit-media-large-spacing;
    }

  }

}


.o-flag--huge {

  > .o-flag__img {
    margin-right: $inuit-global-spacing-unit-huge;
  }

  &.o-flag--reverse {

    > .o-flag__img {
      margin-right: 0;
      margin-left: $inuit-media-huge-spacing;
    }

  }

}





/* Reversed media objects
   ========================================================================== */

.o-media--reverse {

  > .o-media__img {
    order: 1;
    margin-right: 0;
    margin-left: $inuit-media-spacing;
  }

}
