/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/**
 * Grid-like layout system.
 *
 * The layout object provides us with a column-style layout system. This file
 * contains the basic structural elements, but classes should be complemented
 * with width utilities, for example:
 *
 *   <div class="o-layout">
 *     <div class="u-1/2">
 *     </div>
 *     <div class="u-1/2">
 *     </div>
 *   </div>
 *
 * The above will create a two-column structure in which each column will
 * fluidly fill half of the width of the parent. We can have more complex
 * systems:
 *
 *   <div class="o-layout">
 *     <div class="u-1/1  u-1/3@medium">
 *     </div>
 *     <div class="u-1/2  u-1/3@medium">
 *     </div>
 *     <div class="u-1/2  u-1/3@medium">
 *     </div>
 *   </div>
 *
 * The above will create a system in which the first item will be 100% width
 * until we enter our medium breakpoint, when it will become 33.333% width. The
 * second and third items will be 50% of their parent, until they also become
 * 33.333% width at the medium breakpoint.
 *
 * We can also manipulate entire layout systems by adding a series of modifiers
 * to the `.o-layout` block. For example:
 *
 *   <div class="o-layout  o-layout--reverse">
 *
 * This will reverse the displayed order of the system so that it runs in the
 * opposite order to our source, effectively flipping the system over.
 *
 *   <div class="o-layout  o-layout--[right|center]">
 *
 * This will cause the system to fill up from either the centre or the right
 * hand side. Default behaviour is to fill up the layout system from the left.
 *
 * There are plenty more options available to us: explore them below.
 */






/* Default/mandatory classes
   ========================================================================== */

/**
 * 1. Defensively reset browser default of element.
 * 2. Allows us to use the layout object on list element.
 * 3. Use the negative margin trick for multi-row grids:
 *    http://csswizardry.com/2011/08/building-better-grid-systems/
 */

 .o-layout {
  display: flex;
  flex-wrap: wrap;
  margin:  0; /* [1] */
  padding: 0; /* [1] */
  list-style: none; /* [2] */
  margin-left: -$inuit-global-spacing-unit; /* [3] */


  /**
   * 1. Required in order to combine fluid widths with fixed gutters.
   * 2. By default, all layout items are full-width (mobile first).
   * 3. Gutters provided by left padding:
   *    http://csswizardry.com/2011/08/building-better-grid-systems/
   */

  > * {
    box-sizing: border-box; /* [1] */
    padding-left: $inuit-global-spacing-unit; /* [3] */
    width: 100%; /* [2] */
  }

}





/* Gutter size modifiers
   ========================================================================== */

.o-layout--flush {
  margin-left: 0;

  > * {
    padding-left: 0;
  }

}


.o-layout--tiny {
  margin-left: -$inuit-global-spacing-unit-tiny;

  > * {
    padding-left: $inuit-global-spacing-unit-tiny;
  }

}


.o-layout--small {
  margin-left: -$inuit-global-spacing-unit-small;

  > * {
    padding-left: $inuit-global-spacing-unit-small;
  }

}


.o-layout--large {
  margin-left: -$inuit-global-spacing-unit-large;

  > * {
    padding-left: $inuit-global-spacing-unit-large;
  }

}


.o-layout--huge {
  margin-left: -$inuit-global-spacing-unit-huge;

  > * {
    padding-left: $inuit-global-spacing-unit-huge;
  }

}





/* Vertical alignment modifiers
   ========================================================================== */

/**
 * Align all grid items to the middles of each other.
 */

.o-layout--middle {
  align-items: center;
}


/**
 * Align all grid items to the bottoms of each other.
 */

.o-layout--bottom {
  align-items: flex-end;
}





/* Fill order modifiers
   ========================================================================== */

/**
 * Fill up the layout system from the centre.
 */

.o-layout--center {
  justify-content: center;
}


/**
 * Fill up the layout system from the right-hand side.
 */

.o-layout--right {
  justify-content: flex-end;
}


/**
 * Fill up the layout system from the left-hand side. This will likely only be
 * needed when using in conjunction with `.o-layout--reverse`.
 */

.o-layout--left {
  justify-content: flex-start;
}





/* Reverse modifier
   ========================================================================== */

/**
 * Reverse the rendered order of the grid system.
 */

.o-layout--reverse {
  flex-direction: row-reverse;
}





/* Auto-widths modifier
   ========================================================================== */

/**
 * Cause layout items to take up a non-explicit amount of width.
 */

.o-layout--auto {

  > * {
    width: auto;
  }

}
