/* ==========================================================================
   #RATIO
   ========================================================================== */

/* stylelint-disable */

// A map of aspect ratios that get generated as modifier classes.
// The first value is used for generating the ratio modifier class, the second
// value is the actual ratio. This way, you can name your ratios descriptively.

$inuit-ratios: (
  (
    (2\:1): (2:1)
  ),
  (
    (4\:3): (4:3)
  ),
  (
    (16\:9): (16:9)
  ),
  (
    ("golden"): (1.618:1)
  )
) !default;

/* stylelint-enable */



/**
 * Create ratio-bound content blocks, to keep media (e.g. images, videos) in
 * their correct aspect ratios.
 *
 * http://alistapart.com/article/creating-intrinsic-ratios-for-video
 *
 * 1. Default cropping is a 1:1 ratio (i.e. a perfect square).
 */

.o-ratio {
  position: relative;
  display: block;

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%; /* [1] */
  }

}


  .o-ratio__content,
  .o-ratio > iframe,
  .o-ratio > embed,
  .o-ratio > object {
    position: absolute;
    top:    0;
    bottom: 0;
    left:   0;
    height: 100%;
    width:  100%;
  }





/* Ratio variants.
   ========================================================================== */

/**
 * Generate a series of ratio classes to be used like so:
 *
 *   <div class="o-ratio  o-ratio--16:9">
 *
 */

@each $ratio in $inuit-ratios {

  @each $name, $number in $ratio {

    @each $antecedent, $consequent in $number {

      .o-ratio--#{$name}:before {
        padding-bottom: ($consequent/$antecedent) * 100%;
      }

    }

  }

}
