/* ==========================================================================
   #WRAPPERS
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1200px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number."
}

.o-wrapper {
  @include inuit-clearfix();
  @include inuit-rem(padding-right, $inuit-global-spacing-unit);
  @include inuit-rem(padding-left,  $inuit-global-spacing-unit);
  margin-right: auto;
  margin-left:  auto;
  @include inuit-rem(max-width, $inuit-wrapper-width);
}





/* Size variants.
   ========================================================================== */

.o-wrapper--tiny {
  @include inuit-rem(padding-right, $inuit-global-spacing-unit-tiny);
  @include inuit-rem(padding-left, $inuit-global-spacing-unit-tiny);
}

.o-wrapper--small {
  @include inuit-rem(padding-right, $inuit-global-spacing-unit-small);
  @include inuit-rem(padding-left, $inuit-global-spacing-unit-small);
}

.o-wrapper--large {
  @include inuit-rem(padding-right, $inuit-global-spacing-unit-large);
  @include inuit-rem(padding-left, $inuit-global-spacing-unit-large);
}

.o-wrapper--huge {
  @include inuit-rem(padding-right, $inuit-global-spacing-unit-huge);
  @include inuit-rem(padding-left, $inuit-global-spacing-unit-huge);
}
