/* ==========================================================================
   #LIST-BARE
   ========================================================================== */

.o-list-bare {
  list-style: none;
  margin-left: 0;
}
