/* ==========================================================================
   #VERTICAL SPACER
   ========================================================================== */

/**
 * The vertical-spacer object simply applies vertical padding to an element.
 * The padding values it adds is based on the spacers settings found in:
 * settings/_settings.spacers.scss
 *
 * The vertical-spacer object is typically used on larger, box sections which require
 * vertical padding, consistent vertical rhythm and the ability to change based
 * on viewport.
 *
 * To add a custom vertical-spacer, you must add a new spacers map to the spacers
 * settings file outlined above. To use a vertical-spacer, please reference the spacer
 * map name from the spacers settings file and append to the vertical-spacer class e.g:
 *
 * <div class="o-vertical-spacer--large" />
 */

@each $_size, $_spacer-size-map in $global-responsive-spacer-sizes {

  @if $_size == null {

    .o-vertical-spacer {

      @each $_breakpoint-from, $_padding-value in $_spacer-size-map {

        @if $_breakpoint-from == null {
          padding-bottom: $_padding-value;
          padding-top: $_padding-value;
        }

        @else {

          @include mq($from: $_breakpoint-from) {
            padding-bottom: $_padding-value;
            padding-top: $_padding-value;
          }

        }

      }

    }

  }

  @else {

    .o-vertical-spacer--#{$_size} {

      @each $_breakpoint-from, $_padding-value in $_spacer-size-map {

        @if $_breakpoint-from == null {
          padding-bottom: $_padding-value;
          padding-top: $_padding-value;
        }

        @else {

          @include mq($from: $_breakpoint-from) {
            padding-bottom: $_padding-value;
            padding-top: $_padding-value;
          }

        }

      }

    }

  }

}
