/* ==========================================================================
   #PACK
   ========================================================================== */

/**
 * The pack object creates a single row of packed items containing equal 
 * widths and heights. The child items automatically fill the full width of 
 * the parent object.
 * 
 * Includes modifiers for applying auto-widths and gutter sizes to 
 * pack items, useful for generating tabs UIs.
 * 
 * <ul class="o-pack o-pack--xs o-pack--auto">
 *   <li class="o-pack__item"></li>
 * </ul>
 *
 * 1. Fill width of parent.
 * 2. Remove any leftover styling from lists.
 * 3. Apply equal widths to pack items.
 */

.o-pack {
  width: 100%; /* [1] */
  margin-left: 0; /* [2] */
  display: table;
  table-layout: fixed; /* [3] */
}


  /**
   * 1. Apply table-cell properties to pack items.
   * 2. Default cell alignment to top of cell.
   */

  .o-pack__item {
    display: table-cell; /* [1] */
    vertical-align: top; /* [2] */


    /* Vertical alignment modifiers.
       ====================================================================== */

    .o-pack--middle > & {
      vertical-align: middle;
    }

    .o-pack--bottom > & {
      vertical-align: bottom;
    }

  }





/* Auto widths for cells.
   ========================================================================== */

.o-pack--auto {
  table-layout: auto;
}





/* Spacing modifiers (border-spacing, i.e. gutters).
   ========================================================================== */

// Generates the following classes:
// .o-pack--flush
// .o-pack--xxs
// .o-pack--xs etc.

 /**
   * 1. Creates perfectly equal gutters around all pack items.
   */
  
@each $spacing-name, $spacing-size in $spacing-sizes {
  
  .o-pack#{$spacing-name} {
    > .o-pack__item {
      border-spacing: $spacing-size; /* [1] */
    }
  }
   
}





/* Reversed modifier.
   ========================================================================== */

.o-pack--reverse {
  direction: rtl;

  > .o-pack__item {
    direction: ltr;
  }

}