/* ==========================================================================
   #TABLE
   ========================================================================== */

/**
 * A simple object for manipulating the structure of HTML tables.
 */

.o-table {
  width: 100%;
}





/* Equal-width table cells.
   ========================================================================== */

/**
 * `table-layout: fixed` forces all cells within a table to occupy the same
 * width as each other. This also has performance benefits: because the browser
 * does not need to (re)calculate cell dimensions based on content it discovers,
 * the table can be rendered very quickly. Further reading:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values
 * 
 * <table class="o-table o-table--fixed">
 */

.o-table--fixed {
  table-layout: fixed;
}





/* Spacing modifiers (cell padding).
   ========================================================================== */

// Generates the following classes:
// .o-table--flush
// .o-table--xxs
// .o-table--xs etc.

@each $spacing-name, $spacing-size in $spacing-sizes {
  
  .o-table#{$spacing-name} {
    th, td {
      padding: $spacing-size;
    }
  }
   
}