/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements. Default padding is flush.
 * 
 * 1. Set to rems, where 1rem ~= 10px, for scalability.
 */

$wrapper-width: 140rem !default; /* [1] */

.o-wrapper {
  @include clearfix();
  margin-right: auto;
  margin-left:  auto;
  max-width: $wrapper-width;
}





/* Size variants.
   ========================================================================== */
   
// Generates the following classes:
// .o-wrapper--flush .o-wrapper--xxs .o-wrapper--xs etc.

@each $spacing-name, $spacing-size in $spacing-sizes {
  
  .o-wrapper#{$spacing-name} {
    padding-right: $spacing-size;
    padding-left: $spacing-size;
  }
   
}
