/* ==========================================================================
   #ALIGN
   ========================================================================== */

/**
 * Vertical alignment classes.
 */

.u-va-base { vertical-align: baseline !important; }
.u-va-btm  { vertical-align: bottom !important; }
.u-va-mid  { vertical-align: middle !important; }
.u-va-top  { vertical-align: top !important; }




/**
 * Vertical alignment classes.
 */

.u-center {
  margin-right: auto!important;
  margin-left: auto!important;
}