/* ==========================================================================
   #WIDTHS
   ========================================================================== */

/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.u-2/3`) or a spoken-
 * word format (e.g. `.u-2-of-3`). Use these in your markup:
 *
 * <div class="u-7/12">
 *
 * The following will generate a 12 and a 16 column grid system.
 */

@include inuit-widths(12 16);





/**
 * Create a 12 and a 16 column grid system on screens over 1200px wide, and give
 * them a Responsive Suffix of `@lg`, e.g.:
 *
 * <div class="u-3/12@lg">
 */

@media screen and (min-width: 75em) {
  @include inuit-widths(12 16, \@lg);
}
