/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Convert heading element styles to utility classes for when we semantically
 * require an h2 tag but visually require h1 styling.
 *
 *   <h2 class="u-h1"></h2>
 *
 */


.u-h1 {
  font-size: $font-size-h1 !important;
}

.u-h2 {
  font-size: $font-size-h2 !important;
}

.u-h3 {
  font-size: $font-size-h3 !important;
}

.u-h4 {
  font-size: $font-size-h4 !important;
}

.u-h5 {
  font-size: $font-size-h5 !important;
}

.u-h6 {
  font-size: $font-size-h6 !important;
}


// Hero utility classes for supersized headings or hero banners.

.u-hero1 {
  font-size: $font-size-hero1 !important;
}

.u-hero2 {
  font-size: $font-size-hero2 !important;
}