/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-mt {}
 *   .u-pl4 {}
 *   .u-mr2 {}
 *   .u-p {}
 *   .u-pr0 {}
 *   .u-ph {}
 *   .u-pv2 {}
 */

/* stylelint-disable string-quotes */

$spacing-directions: (
  null: null,
  't': '-top',
  'r': '-right',
  'b': '-bottom',
  'l': '-left',
  'h': '-left' '-right',
  'v': '-top' '-bottom',
) !default;

$spacing-properties: (
  'p': 'padding',
  'm': 'margin',
) !default;

$spacing-sizes: (
  '1': $global-spacing-unit-xsmall,
  '2': $global-spacing-unit-small,
  '3': $global-spacing-unit,
  '4': $global-spacing-unit-large,
  '5': $global-spacing-unit-xlarge,
  '0': 0
) !default;

@each $property-namespace, $property in $spacing-properties {

  @each $direction-namespace, $direction-rules in $spacing-directions {

    @each $size-namespace, $size in $spacing-sizes {

      .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {

        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size !important;
        }

      }

    }

  }

}

/* stylelint-enable string-quotes */
