/**
 * #HEADINGS
 * ========================================================================== */

/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="u-h1"></h2>
 *
 */

.u-h1 {
  @include inuit-font-size($inuit-font-size-h1);
}

.u-h2 {
  @include inuit-font-size($inuit-font-size-h2);
}

.u-h3 {
  @include inuit-font-size($inuit-font-size-h3);
}

.u-h4 {
  @include inuit-font-size($inuit-font-size-h4);
}

.u-h5 {
  @include inuit-font-size($inuit-font-size-h5);
}

.u-h6 {
  @include inuit-font-size($inuit-font-size-h6);
}
