/* ==========================================================================
   #FORMS
   ========================================================================== */

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width:
 *    min-content;` on fieldsets.
 */

fieldset {
  min-width: 0; /* [1] */
  margin:  0;
  padding: 0;
  border: none;
}
