/* =========================================================================
 * BREAKPOINT SETTINGS
 * ========================================================================= */

$mq-breakpoints: (
	mobile: 320px,
	tablet: 600px,
	desktop: 980px,
	wide: 1400px
);
