/* =========================================================================
 * #CORE
 * ========================================================================= */
 
 /**
 * This file contains core settings for the framework to function including
 * base typography and spacing units. 
 */


// Size declared in rems for maximum flexibility.
// HTML font size set to 62.5% (elements/_html.sass) so that 1rem is 
// generally equal to 10px.

$base-font-size:    1.8rem !default;
$base-line-height:  1.6 !default;


// Spacing units measured in rems for more control over the spacing scale.
// For example: default spacing unit is appx. 30px, instead of calculating
// the large spacing unit in multiples of the default spacing unit, 
// i.e. 1.33333*3rem = 4rem we can simply state 4rems instead.

$spacing-none: 0 !default;
$spacing-xxs:  0.5rem !default;
$spacing-xs:   1rem !default;
$spacing-s:    2rem !default;
$spacing:      3rem !default;
$spacing-l:    4rem !default;
$spacing-xl:   6rem !default;
$spacing-xxl:  8rem !default;


// Validate base-font/spacing values as rem numbers

@each $_rem-value in
      $base-font-size
      $spacing $spacing-none 
      $spacing-s $spacing-xs $spacing-xxs
      $spacing-l $spacing-xl $spacing-xxl {

  @if (type-of($_rem-value) == number) {

    @if (unit($_rem-value) != "rem") {
      @error "`#{$_rem-value}` requires a rem value.";
    }

  } @else {
    @error "`#{$_rem-value}` requires a number.";
  }

}
