///**
// * #GLOBAL
// * ======================================================================== */

// Project-level settings and setup.

// Base typographical styles and baseline grid. You need to define these values
// in pixels: inuitcss will convert them to more appropriate units.
$inuit-global-font-size:    16px;
$inuit-global-line-height:  24px;

// Standardise some UI treatments.
$inuit-global-radius:       3px;
$inuit-global-transition:   (1/3) + s;





////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//                               W A R N I N G                                //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

// Private/framework-only reassignment. Do not alter anything below.
$inuit-global-spacing-unit:       round($inuit-global-line-height);
$inuit-global-spacing-unit-tiny:  round($inuit-global-spacing-unit / 4);
$inuit-global-spacing-unit-small: round($inuit-global-spacing-unit / 2);
$inuit-global-spacing-unit-large: round($inuit-global-spacing-unit * 2);
$inuit-global-spacing-unit-huge:  round($inuit-global-spacing-unit * 4);









































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































@if ($inuit-global-spacing-unit != $inuit-global-line-height) {
  @error "The value of `$inuit-global-spacing-unit` must not be changed.";
}
