///**
// * #CONFIG
// * ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$config: (
  env: dev,
  healthcheck: false,
  debug: true,
);

// You can access data in this map using the following function:
//
// config(<key>)
//
// Example usage:
//
// @if (config(debug) == true) { ...  }

@function config($key) {
  @return map-get($config, $key);
}
