///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$inuit-global-radius: 3px !default;
$inuit-global-transition: (1/3) + s !default;
