///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$global-config: (
  env: dev,
  healthcheck: false,
  debug: true,
);

// You can access data in this map using the following function:
//
// get-config(<key>)
//
// Example usage:
//
// @if (get-config(debug) == true) { ...  }

@function get-config($key) {
  @return map-get($global-config, $key);
}
