///**
// * #GLOBAL
// * ======================================================================== */

// Project-level settings and setup.

// Base typographical styles and baseline grid.
$inuit-global-font-size:    16px !default;
$inuit-global-line-height:  24px !default;

// Do we need to support IE8?
$inuit-oldIE: false !default;

// Standardise some UI treatments.
$inuit-global-radius:       3px !default;
$inuit-global-transition:   (1/3) + s !default;





// Spacing values are determined based on your project’s global line height (i.e
// your baseline grid). It is not recommended that you modify these following
// variables (it can break your vertical rhythm), but if you need to, you can.
$inuit-global-spacing-unit: round($inuit-global-line-height) !default;

// How many times larger/smaller than the default should our spacing unit
// variants be?
$inuit-global-spacing-unit-factor-tiny:   0.25 !default;
$inuit-global-spacing-unit-factor-small:  0.5  !default;
$inuit-global-spacing-unit-factor-large:  2    !default;
$inuit-global-spacing-unit-factor-huge:   4    !default;




////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//                               W A R N I N G                                //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

// Check that the chosen size factors are unitless numbers.
@each $_inuit-spacing-unit in
      $inuit-global-spacing-unit-factor-tiny
      $inuit-global-spacing-unit-factor-small
      $inuit-global-spacing-unit-factor-large
      $inuit-global-spacing-unit-factor-huge {

  @if (type-of($_inuit-spacing-unit) == number) {

    @if (unitless($_inuit-spacing-unit) == false) {
      @error "#{$_inuit-spacing-unit} is not unitless.";
    }

  } @else {
    @error "#{$_inuit-spacing-unit} is not a number.";
  }

}

// Private/framework-only reassignment. Do not alter anything below.
$inuit-global-spacing-unit-tiny:  round($inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-tiny);
$inuit-global-spacing-unit-small: round($inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-small);
$inuit-global-spacing-unit-large: round($inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-large);
$inuit-global-spacing-unit-huge:  round($inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-huge);
