/* ==========================================================================
   #SPACINGS
   ========================================================================== */

/**
 * The spacings settings file contains any project-wide spacing maps. Unlike the
 * fixed, inuit spacing units e.g $inuit-global-spacing-unit-large, these values
 * are responsive spacings which change based the viewport.
 *
 * To add a new spacer size map, use the following example and add
 * to the $inuit-global-responsive-spacer-sizes map.
 *
 * NOTE:
 * - The breakpoint sizes are defined in settings/_settings.responsive.scss
 * - Default maps and sizes are defined with a null
 *
 * some-spacing-map-name: (
 *   null: 13px,
 *   'device': $inuit-global-spacing-unit,
 *   'desk': 25vh
 * )
 */

$inuit-global-responsive-spacer-sizes: (
  null: (
    null: $inuit-global-spacing-unit-small,
    'device': $inuit-global-spacing-unit,
    'desk': $inuit-global-spacing-unit-large
  )
);
