/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}


/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dd,
dl,
figure,
h1, h2, h3, h4, h5, h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */

fieldset {
  border: 0;
  margin: 0;
  min-width: 0; /* [1] */
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}



/**
 * Remove trailing margins from nested lists.
 */

li > {

  ol,
  ul {
    margin-bottom: 0;
  }

}



/**
 * Remove default table spacing.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
