/* ==========================================================================
 * #PAGE
 * ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set sitewide rem value to approximately 10px given that most browsers
 *    are set to 16px default font size, i.e. 62.5% of 16px equals 10px.
 * 2. Set sitewide `line-height` to a unit-less value (settings/_core.sass).
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 4. Ensure the page always fills at least the entire height of the viewport.
 * 5. Set sitewide `font-size` (settings/_core.sass).
 */

html {
  font-size: 62.5%; /* [1] */
  line-height: $base-line-height; /* [2] */
  overflow-y: scroll; /* [3] */
  min-height: 100%; /* [4] */
}

body {
	font-size: $base-font-size; /* [5] */
}
