///* ========================================================================
//   #SPACING
//   ======================================================================== */

// Mixin to apply responsive spacing to an element.
//
// By default, the mixin applies both vertical and horizontal padding but
// these can be turned on and off by passing a true/false parameter.
//
// The values applied are configured in the $global-responsive-spacing-sizes
// variable. Please configure this this setting before using this mixin
// within your styles.
//
// .default-usage {
//   @include inuit-responsive-spacing('responsive-map-name');
// }
//
// .vertical-spacing-only-usage {
//   @include inuit-responsive-spacing('responsive-map-name', $horizontal-direction: false);
// }



@mixin inuit-responsive-spacing($map_key: null, $spacing-property: 'padding', $vertical-direction: true, $horizontal-direction: true) {

  @if (map_has_key($global-responsive-spacing-sizes, $map_key) == false) {

    @error "You forgot to set `#{$map_key}` in the $global-responsive-spacing-sizes map.";

  } @else {

    @if (map_has_key($inuit-responsive-spacing-properties, $spacing-property) == false) {

      @error "You forgot to set `#{$spacing-property}` in the $inuit-responsive-spacing-properties map.";

    } @else {

      $spacing-map: map-get($global-responsive-spacing-sizes, $map_key);

      @each $inuit-bp-name, $spacing-value in $spacing-map {

        @if $inuit-bp-name == null {

          @if $vertical-direction == true {
            padding-bottom: $spacing-value;
            padding-top: $spacing-value;
          }

          @if $horizontal-direction == true {
            padding-left: $spacing-value;
            padding-right: $spacing-value;
          }

        } @else {

          @if (map_has_key($mq-breakpoints, $inuit-bp-name) == false) {

            @error "The `#{$inuit-bp-name}` responsive size is not defined in $mq-breakpoints map.";

          } @else {
          // @if (variable-exists(mq-breakpoints)) {

            @include mq($from: $inuit-bp-name) {

              @if $vertical-direction == true {
                padding-bottom: $spacing-value;
                padding-top: $spacing-value;
              }

              @if $horizontal-direction == true {
                padding-left: $spacing-value;
                padding-right: $spacing-value;
              }

            }

          }

        }

      }

    }

  }

}
