///* ========================================================================
//   #HOCUS
//   ======================================================================== */

// Generate `:hover` and `:focus` styles in one go.
@mixin inuit-hocus() {
  &:hover,
  &:focus {
    @content;
  }
}
